<?xml version="1.0" encoding="UTF-8"?>

<suite name="sanity_suite" parallel="tests" thread-count="2"
	verbose="1">

	<!-- <listeners>
		<listener class-name="" />
	</listeners> -->

	<test name="Test_suite1">
		<parameter name="b_type" value="chrome" />
		<classes>
			<class name="sanityTests.InterviewAssignment" />
		</classes>
	</test>


	<!-- <test name="Test_suite2">
		<parameter name="b_type" value="chrome" />
		<classes>
			<class name="sanity.login" />
		</classes>
	</test> -->

</suite>

